@font-face
{
font-family:"Kalam";
src:url("Kalam-Regular.ttf");
}
@font-face
{
font-family:"Kalam";
src:url("Kalam-Bold.ttf");
font-weight:bold;
}
@font-face
{
font-family:"Kalam";
src:url("Kalam-Light.ttf");
font-weight:300;
}
@font-face
{
font-family:"VT323";
src:url("VT323-Regular.ttf");
}
::-moz-selection
{
color:white;
background:rgb(250,240,50);
}
::selection
{
color:white;
background:rgb(250,240,50);
}
body
{
background-image:url("pattern.png");
color:white;
font-family:"Kalam";
}
img
{
-webkit-filter:sepia(88%);
}
a
{
color:rgb(0,180,80);
font-weight:300;
}
blockquote
{
opacity:0.64;
background-color:white;
color:black;
}
pre
{
background-color:black;
color:rgb(0,250,40);
font-family:"VT323";
border-style:inset;
}
code
{
color:gray;
}
code
{
font-family:"VT323";
background-color:black;
}
em
{
font-family:"Kalam";
color:rgb(200,200,200);
font-style:normal;
}
